---
const currentYear = new Date().getFullYear()
---

<footer class="footer container">
  <p class="copyright">&copy; {currentYear} Luke Cartledge</p>
</footer>

<style>
  .footer {
    padding-block: var(--space-8);
    margin-top: var(--space-16);
    text-align: center;
  }

  .copyright {
    font-size: var(--text-sm);
    color: var(--color-text-muted);
  }
</style>
