---
import Head from '@/components/Head.astro'
import '@/styles/global.css'
import '@/styles/utilities.css'

interface Props {
  title: string
  description?: string
  ogImage?: string
}

const { title, description, ogImage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <a href="#main" class="visually-hidden">Skip to content</a>
    <slot />
  </body>
</html>
